html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

#title { color: #fff; }

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by its height */
    margin: 0 auto -50px;
    /* Pad bottom by footer height */
    padding:50px 0 0 50px;    
}

#footer {
    /* Set the fixed height of the footer here */
    height: 50px;
    background-color: #080808;
    margin-top: 15px;
}

/* apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

#wrap > .container-fluid {
    padding: 60px 15px 10px;
}

#footer > .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
}

#footer p {
    margin-bottom: 0;
}

.has-error { color: #a94442; }

/* For angular UI bootstrap: https://angular-ui.github.io/bootstrap/ */
.nav, .pagination, .carousel, a, th, select { cursor: pointer; }

.horizontal-collapse { height: 70px; }

.navbar-collapse.in { overflow-y: hidden; }

/* end */

.mr-10 { margin-right: 10px; }

.w-7p { width: 7%; }

.st-sort-ascent::before {
    content: '\25B2';
}

.st-sort-descent::before {
    content: '\25BC';
}

.select-page {
    width: 50px;
    text-align: center;
}

.pagination li a input {
    padding: 0;
    margin: -3px 0;
}

/*.has-error { color: red; }*/

.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 290px;
    height: 150px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    cursor: pointer;
}
.dragover {
    border: 5px dashed green;
}


@-webkit-keyframes glyphicon-spin-r {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.glyphicon.normal-right-spinner {
    -webkit-animation: glyphicon-spin-r 2s infinite linear;
    animation: glyphicon-spin-r 2s infinite linear;
}

@keyframes glyphicon-spin-r {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}.drop-box-success {
    background: lightgreen;
    border: 5px dashed green;
    width: 290px;
    height: 150px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    cursor: pointer;
}

.drop-box-failure {
    background: lightcoral;
    border: 5px dashed red;
    width: 290px;
    height: 150px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    cursor: pointer;
}

/* below this all styles are for the eventslider */
.bold{
    font-weight: bold;
}

.bordered{
    border: 2px solid #508191;    
    border-radius: 5px;
}
.mt25{
    margin-top: 10px;        
}

.eventcontent{
    padding: 0px 60px 0px 50px;
    min-height: 110px;
    color: #703c3c
}
.eventcontent .header1{    
    background: linear-gradient(rgb(238, 203, 203), rgb(231, 161, 161));
    /* background: linear-gradient(-90deg,rgb(169, 235, 235), rgb(216, 146, 169)); */
        
}
.header1 span,.header2 span,.header3 span{
    font-family: "Brush Script MT", cursive;
    font-size: 25px;
}
.eventcontent .header2{    
    background: linear-gradient(rgb(196, 228, 214), rgb(179, 201, 188));
    /* background: linear-gradient(-90deg,rgb(104, 219, 167), rgb(234, 240, 133)); */
}
.eventcontent .header3{    
    background: linear-gradient(rgb(196, 210, 228), rgb(155, 181, 211));
    /* background: linear-gradient(90deg,rgb(240, 189, 155), rgb(224, 182, 243)); */
}
.eventcontent .eventinfo{
    cursor: pointer;
    font-weight: bold;
}
.eventcontent .eventinfo:hover{
    color: #1c7db6 ;
    text-decoration: underline;  
    font-weight: bold;  
}

.topnavigator{
    width: 78px;
    text-align: center;
    /* background-color: #959595; */
    background-color: #443f3f;
    opacity: 0.6;
    color: rgb(218, 219, 215);
    font-weight: bold;  
    transition-duration: 0.4s;    
    
}

.topnavigator:hover{
    color: #fff;
    opacity: 1;
    box-shadow: 0 5px 15px rgba(5, 41, 43, 0.4);
}

.mainheader{
    background-color: #d4c8c8;    
    color:rgb(31, 27, 27);
}

.monthname{
    background-color: rgb(212, 228, 235);    
    transition-duration: 0.4s; 
}

.monthname:hover{
    color: rgb(179, 107, 107);        
}




